@font-face {
    font-family: "TenorSans-Regular";
    src:url(../fonts/TenorSans-Regular.ttf)
}

@font-face {
    font-family: "Voga Medium";
    src:url(../fonts/CDType\ -\ Voga\ Medium.ttf)
}

$fuente-principal: "TenorSans-Regular";

$fuente-secundaria: "Voga Medium";