/* Modificadores del footer*/
footer {
    padding: 1rem;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
                    
.footer {
    align-self: center;
}
                    
.imgfooter {
    width: 60px; 
    height: 60px;
}