/*Inicio HEADER*/
header {
    padding: 1rem;
    margin: 5px;
    background-image: url(../assets/img/Fondoheader.png);
}
                        
h1 {
    font-family: "Voga Medium";
    font-size: 60px;
}
                        
.logo {
    width: 120px;
    height: 120px;
}
                        
h5,h3,h4 {
    font-family: "TenorSans-Regular";
}
                        
div {
margin: 1%;
padding: 1%;
}
