/*Import*/
@import "fonts";
@import "footer";
@import "header";

* {
    margin: 0;
    padding: 0;
}

                        /*Inicio HEADER*/
header {
    padding: 1rem;
    margin: 5px;
    background-image: url(../assets/img/Fondoheader.png);
}

h1 {
    font-family: "Voga Medium";
    font-size: 60px;
}

.logo {
    width: 120px;
    height: 120px;
}

h5,h3,h4 {
    font-family: "TenorSans-Regular";
}

div {
    margin: 1%;
    padding: 1%;
}
                       /*FIN HEADER*/

         /*Modificadores de mi menú de navegación*/
nav {
    width: 100%;
    border: solid rgb(167, 165, 165);
    border-width: 1,5 px;
    margin: 1px;
    padding: 1rem;
}

ul {
    padding: 1rem;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
}

li{
    font-family: "TenorSans-Regular";
    list-style-type: none;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: black;
}

                    /*Secciones centrales 2 columnas*/

.central {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

                     /*Edición letras textos*/
p {
    font-family: "TenorSans-Regular";
    font-size: large;
    text-align: justify;
}

h2 {
    font-family: "TenorSans-Regular";
    font-size: xx-large;
}

.frase {
    margin: 5px;
    padding: 10px;
    background-color: hotpink;
    font-style: oblique;
    font-size: x-large
}
                             
                        /*Tarjetas productos*/
.tarjproducto {
    width: 300px;
    height: 350px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.tarjproducto:hover{
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
                          /*Botones*/
.button {
    background-color:hotpink;
    font-family: "TenorSans-Regular";
}

.boton-item {
    border: none;
    background-color:hotpink;
    border-radius: 5px;
    padding: 5px;
    font-family: "TenorSans-Regular";
}

.precio-item {
    display: block;
    text-align: center;
    font-family: "TenorSans-Regular";
    font-weight: bold;
    margin-top: auto;
    font-size: 20px;
}

.btn-eliminar {
    cursor: pointer;
}

.btn-pagar {
    width: 100%;
    display: inline-block;
    font-family: "TenorSans-Regular";
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.btn-pagar:hover{
    scale:1.05;
}
    
.btn-enviar {
    width: 15%;
    cursor: pointer;
    border-radius: 5px;
    font-family: "TenorSans-Regular";
    margin-top: 10px;

}  

/*Mobyle styles*/
@media only screen and (min-width:320px) and (max-width: 480px){ 
    h1{
        font-size: 35px;
    }

    .logo{
        width: 80px;
        height: 80px;
    }

    h3,h5 {
        font-size: 20px;
    }

    p {
        font-size: xx-small;
        text-align: justify;
    }

    li{
        font-size: xx-small;
    }

    h2 {
        font-size: small;
    }

    .frase {
        margin: 5px;
        padding: 10px;
        background-color: hotpink;
        font-style: oblique;
        font-size: small;
    }

    .imgfooter {
        width: 50px; 
        height: 50px;
    }
}

/*Carrito*/
.carrito {
    border: 1px solid #bfbbbb;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

.carrito-item-cantidad {
    border: none;
    display: inline-block;
    width: 50px;
    padding: 5px;
    text-align: center;
}

.selector-cantidad i{
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #bfbbbb;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    display: inline-block;
}

.carrito-precio-total {
    padding: 5px;
}